body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}
h1,h2,h3,h4,h5,h6{
    color:#1e1e1e;
}
p{
    color:#4e4e4e;
}

.navbar-brand{
    FONT-SIZE:26PX;
    font-weight:600;
}
.navbar-nav{
    font-weight:600;
}
.w-55{
    width:55%;
}
.bg{
    background-color:#040404;
}
 .collapse a::after
{
    content: "";
    position: absolute;
    left:0;
    bottom: 0;
    width:0px;
    height:1px;
    background-color: #fff;
    transition: all 1s;
}
.collapse a:hover::after{
width: 50px;
height:2px;
}


/*              start header style                            */
header{
    height: 100vh;
    background-image: url(../images/intro-bg.jpg);
    background-size: 100% 100%;
    background-position: center center;
}
.overlayer{
    height:100%;
    background-color:rgba(0,0,0,0.6);
}
header h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
    font-size:72px;
    line-height: 86px;
color: white;
}
header p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    font-size:40px;
    line-height: 60px;
    color: white;
}

header p::after{
    content: "";
    animation: slider 7s linear infinite;
}
@keyframes slider {
    0% {
        content: " Web|"
    }
    10% {
        content: "Web Developer|"
    }
    20% {
        content: "Web De|"
    }
    30% {
        content: "Web Designer|"
    }
    40% {
        content: "|";
    }
    50% {
        content: "Frontend Developer|"
    }
    60% {
        content: "|"
    }
    70% {
        content: "Graphic Designer|"
    }
    80% {
        content: "|"
    }
    90% {
        content: "CEO DevFolio|"
    }
    100% {
        content: "|"
    }
}


/*             end header style                            */

table{

border-spacing: 0px 15px;
border-collapse: separate;
padding-right:20px;

}

.about-caption h2::before{
  content: "";
  position:absolute;
  left:0;
  bottom:-12px;
  width:100px;
  height:3px;
  background-color: #0078ff;
}
.about-caption h2{
    color:#1e1e1e;

    }
.oneservice{
    border-radius: 10px;
}
.bdr{
    width: 45px;
    height:5px;
    background-color:#0078ff ;
    margin-bottom: 53px ;
}

.oneservice i{
    border:10px solid #0078ff;
    padding:25px;
    transition: all 0.5s;
}
.mobile{
    padding:25 38px !important ;
}
.oneservice h4{
    font-size:22px;
    font-weight:500;
    line-height:27px;
    color:#1e1e1e;
}
.oneservice p{
    color:#4e4e4e;
}
.oneservices:hover i{
    /* background-color: #0078FF;
    border: 10px solid #CDE1F8; */
    color:white;
}
.services h2{
    font-weight:700;
    line-height: 57px;
    color:#1e1e1e;
    font-size:48px;
}
/*start section4 background attachment*/
.counter-layer{
   background-image: url(../images/counters-bg.jpg);
   background-size: 100% 100%;
   background-position: center center;
   background-attachment: fixed;
}
.counter-overlayer{
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,120,255,0.7)

}
.counter-overlayer i{
    color:white;
    border:10px solid #cde1f8;
    font-size:25px;
    padding: 20px;
}

.route{
    padding: 20px 23 !important;
}
.counter-layer p{
    line-height:48px;
    font-size:32px;
    color:white;
}
.counter-layer span{
    line-height: 24px;
    color:white;
}



.portfolia a{
    margin-top:20px;
  display: block;
  width:35px;
  height:35px;
  border-radius: 50%;
  background-color: white;
  border:1px solid #0078ff;
  text-align: center;
  float:right;
}
.portfolia i{
    font-size:19px;
    
    padding:8px 0;
}

 .portfolia h4{
     line-height: 23px; 
 }
 .portfolia p{
    font-size:13px;
    line-height:19px;
 }
 .portfolia span{
  color:#0078ff;
 }
 .portfolia img{
     
     transition: all 1s;
 }
 
.item:hover img{
    transform: scale(1.3);
}
.shad{
    box-shadow: 0px 13px 8px -10px rgba(0, 0, 0, 0.1);
}
/*end section5 background attachment*/

/*testomonials */
.testimonials {
background-image: url(../images/overlay-bg.jpg);
background-size: 100% 100%;
background-position: center center;
background-attachment: fixed;
}
.testimonials p, .testimonials h5{
    color: white;
}
.testimonials i{
    color:#0078ff;
    font-size:30px;
    padding: 10;
    border:0;
    border-radius: 50%; 
}
.carousel-indicators li
{
    width:30px;
    height:8px;
}
.background{
    background-color: black !important;
}
/*end testomonials*/

/*start blog*/
.rounded{
    width:30px;
    height:30px;
}
.blog span{
    line-height: 24px;
    color:#4e4e4e;
    font-size: 16px;
}

.blog i{
   line-height: 24px;
   color:#4e4e4e;
   font-size:15px
}
.pos{
    left:12.5%;
    right:12.5%;
    top:-7%;
    text-align: center;
}

.blog h6{
    padding:0px 25px 10px;
    
    border-radius: 4px;
    background-color: #0078ff;
    
}
.blog h6{
    
    
    display: inline-block;
    padding-top: 5px;
    color: white;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 0;
}
.dif{
    transition: all 0.5s;
}
 .blog .dif:hover{
    color:#0078ff;
 }
.bg-card{
    background-color:rgba(0,0,0,.03); 
}

/*start contact section*/

.contact{
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
.form-group{
margin-bottom: 2rem;
}
.contact .bdr {
    width:100px;
    height:3px;
}
.contact i {
    font-size:13px;
    color:#0078ff;
    padding: 13;
    padding-left:0;
    padding-right:20px;
}
.contact p{
    display: inline;
}
.contain{
    margin-top: 15;
}
.contact .bdr{
    margin-bottom: 40px;
}
.override{
 margin-bottom: 47px;
}
.contact .icon-container a{
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    border:3px solid  #0078ff;
    margin-right: 4px;
    text-align: center;
    transition: all 0.5s;
}
.icon-container{
    margin-top:15px;
    padding-left: 10;
}
.icon-container a:hover i{
color:white;
}
.icon-container a:hover {
    background-color:#3393ff ;
    border-color:#cde1f8;
}

.icon-container i{
    font-size: 22;
    margin: 0;
    color: black;
    padding: 11 0;
    transition: all 0.5s;
}
button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19;
    line-height: 29;
   

}
.btn-primary{
    transition: all 0.3s;
}
.btn-primary:hover{
    box-shadow: 0  0 0px 6px #cde1f8 ;
    background-color: #3393ff;
    border-color: #3393ff;
}
.contact .counter-overlayer{
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}
footer{
    box-shadow: 0 0px 5px 3px rgba(0, 0, 0, 0.1);
    background-color: #0062d3;
    padding:20
}
footer p{
    font-size:16px;
    line-height:24px;
    font-weight:400;
    margin-bottom: 2px;
}
footer span {
    font-weight: 700;
}
/*end contact section*/


@media screen and (max-width:600px)
{
    header h1{
        font-size:40px
    }
    header p{
        font-size:30px
    }
    
}